{% extends "forms/field.html.twig" %}
{% set id = field.id|default(field.name) %}


{% block input %}
    
    <div class="pure-form-select-wrapper">
        
        <select name="{{ (scope ~ field.name)|fieldName ~ (field.multiple ? '[]' : '') }}"
                
                {# grav attribute structures #}
                {% block global_attributes %}
                    data-grav-selectize="{{ (field.selectize is defined ? field.selectize : {})|json_encode()|e('html_attr') }}"
                    {% if field.multiple in ['on', 'true', 1] %}multiple="multiple"{% endif %}
                    {% if ((field.limit > 1) and (field.multiple in ['on', 'true', 1])) %}data-grav-select-limit="{{ field.limit|number_format }}"{% endif %}
                    {{ parent() }}
                {% endblock %}

                {# required attribute structures #}
                id="{{ id|e }}"
                name="{{ field.name|fieldName }}"
                >
            
            {% for key, text in field.options %}
                
                <option {% if key == value or (field.multiple and text in value) %}selected="selected"{% endif %} value="{{ field.multiple ? text : key }}">{% if grav.twig.twig.filters['tu'] is defined %}{{ text|tu }}{% else %}{{ text|t }}{% endif %}</option>
            
            {% endfor %}

        </select>

    </div>

{% endblock %}
