{% extends "forms/field.html.twig" %}

{% block contents %}
    {% block input %}
        {% set id = field.id|default(field.name) ~ '-' ~ key %}
        <label></label>
        <div class="pure-checkbox-control-group">
            <label for="{{ id|e }}" class="pure-checkbox">
                <input
                    {# grav attribute structures #}
                    {% block global_attributes %}
                        {{ parent() }}
                    {% endblock %}

                    {# required attribute structures #}
                    type="checkbox"
                    value="{{ key|e }}"
                    id="{{ id|e }}"
                    name="{{ field.name|fieldName }}"

                    {# radio-specific attribute structures #}
                    {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
                />
                {% block label %}
                    {{ parent() }}
                {% endblock %}
            </label>
        </div>
    {% endblock %}
{% endblock %}