{% extends "forms/field.html.twig" %}

{% set originalValue = value %}
{% set value = (value is null ? field.default : value) %}

{% block contents %}
  <label for="{{ fieldID }}">
      {% block label %}
          {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
          {{ field.label|default(field.name|capitalize)|t }}
      {% endblock %}
  </label>
  {% block input %}
    <div class="pure-radio-control-group">
    {% for key, text in field.options %}
      {% set id = field.id|default(field.name) ~ '-' ~ key %}
        <label for="{{ id|e }}" class="pure-radio">
          <input
            {# grav attribute structures #}
            {% block global_attributes %}
                {{ parent() }}
            {% endblock %}

            {# required attribute structures #}
            type="radio"
            value="{{ key|e }}"
            id="{{ id|e }}"
            name="{{ field.name|fieldName }}"
            
            {# radio-specific attribute structures #}
            {% if key == value %}checked="checked" {% endif %}
            {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
          />
        {{ text|e }}
      </label>
    {% endfor %}
  {% endblock %}
{% endblock %}